name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      -name: Checkout repository
      uses: actions/checkout@v4


      -name: Log in to Docker Hub
      uses: docker/login-actions@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

      -name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/pipeline:${{ github.sha }} .

      -name: Push Docker image
      run: | 
        docker push ${{ secrets.DOCKERHUB_TOKEN }}/pipeline:${{ github.sha }}
